@import url(https://fonts.googleapis.com/css?family=Ubuntu);
* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}
.clearfix {
  clear: both;
  height: 1px;
}
a[href] {
  text-decoration: none;
}
[data-info] {
  cursor: help;
}
.line {
  border-bottom: 1px solid gray;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.break {
  clear: both;
}
.vishid {
  visibility: hidden;
}
.disnon {
  display: none;
}
.container {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #222222;
  border-left: 2px solid black;
  border-right: 2px solid black;
  color: white;
  padding: 10px;
}
#notification {
  padding: 10px;
  border: 1px solid gray;
  background-color: black;
  position: fixed;
  top: 50px;
  left: 30%;
  right: 30%;
  overflow: hidden;
  color: white;
  z-index: 10000;
}
